.left{
	text-align: left;
}
.right{
	text-align: right;
}
.red{
	color: red;
}
table, td, th {
	border-collapse: collapse;
	border:2px solid black;
}
/*.details{
	border-width: 5px;
	margin-top: 50px;
}
.review{
	border-width: 5px;
	margin-top: 50px;
}
*/
/*fieldset{
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}*/